body,html{
    overflow-x: hidden;
    box-sizing: border-box;
    border: none;
    margin: 0;
    background-image: linear-gradient(to right, #02010f 10%, #0e0104fd 100%);
    scroll-behavior: smooth;
    
}
/*style tag*/
.style-tag{
    overflow-x: scroll;
}
.style-tag ul{
    transition:  all .15s ease;
    width: 100vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    display: flex;
    list-style: none;
    flex-direction: row;
}
.style-tag li{
    display: flex;
    list-style: none;
    flex-direction: row;
}

/*SCROLL*/
::-webkit-scrollbar-track{
    border-radius: 100vw;
    border: none;
   }
   ::-webkit-scrollbar{
      
       width: 12px;
   }
   ::-webkit-scrollbar-thumb{
       background: #E94560;
  }    


/*NAV*/



.bar{
    z-index:300;
    font-family: 'Barlow Condensed', sans-serif;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links{
    z-index:300;
   
}
.links input {
    outline: none;
    border: none;
    width: 400px;
    padding: 14px 50px;
    border-radius: 10px 0 0 10px;
    inset: none;
}
.links select{
    margin-left: -4px;
    outline: none;
    border: none;
    color: white;
    background-color:#E94560 ;
    padding: 13px 20px;
    border-radius: 0 10px 10px 0
}
.links option{

   
    color: white;
    font-size: 15px;
}
.links optgroup{
    padding-inline-start: 20px;
}
.links a:hover{
    z-index:300;
    color: #E94560;
}
.logo{ 
    color: white;
    font-size: 40px;
}
.logo span{
    color: #eb0d57;
}





/*HOME BANNER   */

.home{
    width:100vw;
    height: 80vh;
    display: block;
    margin-bottom: 20em;
}
.container_style{
    font-family: 'Barlow Condensed', sans-serif;

    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    
    align-items: center;
}
.poster_style{
    z-index: 2;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header_info{
   
    padding-inline-start: 1em;
    border-left: 10px solid #E94560;
    align-items: center;
    display: flex;
    width: 120%;
   
    
    justify-content: space-between;
    align-items: center;
}

.poster_style img{
    width: 70%;
    box-shadow: -54px 13px 47px -3px rgba(0, 0, 0, 0.26),inset -44px -87px 69px 23px rgba(0, 0, 0, 0.699);
    border-radius: 4px;
}
.general_info{
    justify-content: space-around;
    flex-direction: column;
display: flex;
}
.info_style{
    padding-left: 5em;
    z-index: 2;
    color: white;
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.nav_popular_movies{
    z-index: 100;
    width: 95%;
    position: absolute;
    display: flex;
    justify-content: space-between;

}
.title_movie{
    width: 80%;

    font-size: 70px;
}
.info_style p{
    font-weight: 100;
    font-size: 19px;    
    
}

.nav_popular_movies i{
    transition: all .15s ease;
    font-size: 40px;
    z-index: 10;
    color: white;
    padding: 20px;
}
.nav_popular_movies i:hover{
    color: blueviolet;
}
.background img{
    

     left: 0;
     opacity: .1;
     position: absolute;
     top: 0;
     width:100%;
     object-fit: cover;
}
.treding{
    top: 190;
    right:300;
    font-family: 'Barlow Condensed', sans-serif;

    border-radius: 10px;
    padding: 20px 20px;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    z-index: 1000;
    font-size: 20px;
    background-color: #af760c;
    position:absolute;
    color: rgb(255, 254, 254);
   
}
.a1{
    padding-left: 10PX;
    border-left: 5px solid #E94560;
    border-top: 5px solid #E94560;
}
.a2{
    padding-right: 10px;
    border-bottom: 5px solid #E94560;
    border-right: 5px solid #E94560;

}
.doted{
    border-top: 5px dashed #E94560;
    border-bottom: 5px dotted #E94560;
}
.see_more{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #E94560;
    font-size: 20px;
    width: fit-content;
    padding: 15px 100px;
}




/*  */

.title-styletag{
    font-family: 'Barlow Condensed', sans-serif;
    width: 100%;
 
    color: white;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 4em;


}
.genres-container label{
    font-size: 30px;
    border-bottom: 5px solid #E94560;
}
.genres-container p{
    color:#E94560;
    font-size: 20px;
}
.nav_btn_movies{
    width: fit-content;
display: flex;
width: 98%;
align-items: center;   
justify-content: space-around;

}
.nav_btn_movies a{
  text-decoration: none;
  color: #E94560;
  padding: 20px 100px;
  font-size: 40px;

}   
.nav_btn_movies a:hover{
    color: #ff02f2;
}
.title-styletag h2{
    padding-top: 1em;
    padding-left: 10px;
    width: fit-content;

    margin: 0;
    font-size: 80px;
    margin-block-start: 0;
    margin-block-end: 0;
}


/**/


.genre_rel{
 
    display: flex;
    
}
.pop_vote{
    display: flex;
}
.general_info p{
    font-size: 24px;
    padding-right: 4em;
}
.pop_vote p{
    
    padding-right: 4em;
}
.streaming_info{
    
    display: flex;
    width: fit;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;

}
.streaming_info img{
    padding: 20px;
    object-fit: contain;
   
    
}
.overview_info{
    font-size: 18px;
    width: 70%;
}


.container_1{
    font-family: 'Barlow Condensed', sans-serif;
    justify-content: space-around;
    display: flex;
    width:100vw;
   
    margin-top: -10em;
}
.container_1 label{
    color: white;
    font-size: 70px;
    width: fit-content

}
.container_2{
    display: flex;
    justify-content: space-around;   
    flex-direction: row;
    align-items: center;
    width: 100%;
    
}
.container_2_cast{
    padding-left: 1em;
    width: 50%;
   
    display: flex;
    flex-direction: column;
}
.cast{
    text-align: center;
    width: 100%;
    display: flex;
    overflow-x: scroll;
  
    font-weight: bolder;
}
.cast img{
    width: 250px;
}
.cast p{
    font-size: 20px;
    color: #af760c;
}
.cast span{
    font-size: 20px;
    color: white;

  
}







.container_2_trailer{
    padding-left: 1em;
    width: 40%;
    height: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    
    
}
.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
}
.trailer iframe{
    padding-inline-end: 10em;
}








.search-page{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 10000;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-color: white;
    top: 150;
}
li::marker {
    unicode-bidi: none;
    font-variant-numeric: none;
    text-transform: none;
    text-indent: 0px ;
    text-align: start ;
    text-align-last: end ;
}
.teste li{

    marker: none;
    list-style: none;
}